.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a3b3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 34, 34);
}

.App-link {
  color: #0c1cf0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alldata {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.offset {
  margin-left: 5px;
}

.padded {
  padding: 3px;
}

.thick {
  font-weight: italics;
}

.color-nav {
  background-color: #f2f4ef;
}

.nav-link:hover {
  color: rgb(207, 207, 209) !important;
  font-weight: bold;
}

.centerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.allmybankdata {
  display: flex;
  justify-content: center;
}